---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

import elena from "assets/people/elena-torfs.png";
import peter from "assets/people/peter-vanrolleghem.png";

import alexandroVargas from "assets/people/alejandro-vargas.png";
import andreiaAmaral from "assets/people/andreia-amaral.png";
import bingJieNi from "assets/people/bing-jie-ni.png";
import bruceJohnson from "assets/people/bruce-johnson.png";
import charlesBott from "assets/people/charles-bott.png";
import damienBatstone from "assets/people/damien-batstone.png";
import dirkMuschalla from "assets/people/dirk-muschalla.png";
import dwightHouweling from "assets/people/dwight-houweling.png";
import eberhardMorgenroth from "assets/people/eberhard-morgenroth.png";
import eduardoAyesa from "assets/people/eduardo-ayesa.png";
import elhamRamin from "assets/people/elham-ramin.png";
import fatemehChebana from "assets/people/fateh-chebana.png";
import francoisAnctil from "assets/people/francois-anctil.png";
import giacomoBellandi from "assets/people/giacomo-bellandi.png";
import giorgioManina from "assets/people/giorgio-manina.png";
import janelcyAlfares from "assets/people/janelcy-alfares.png";
import jeanLucBertrandKrajewski from "assets/people/jean-lub-bertrand-krajewski.png";
import jipingJiang from "assets/people/jiping-jiang.png";
import juanBaeza from "assets/people/juan-baeza.png";
import julienLaurent from "assets/people/julien-laurent.png";
import kimberlySolon from "assets/people/kimberly-solon.png";
import lievRieger from "assets/people/liev-rieger.png";
import linaBelia from "assets/people/lina-belia.png";
import lloydTownley from "assets/people/lloyd-townley.png";
import lluisCorominas from "assets/people/lluis-corominas.png";
import lorenzoBenedetti from "assets/people/lorenzo-benedetti.png";
import marieNoellePons from "assets/people/marie-noelle-pons.png";
import martinPleau from "assets/people/martin-pleau.png";
import peterBach from "assets/people/peter-bach.png";
import sarahDorner from "assets/people/sarah-dorner.png";
import sinaBorzoei from "assets/people/sina-borzoei.png";
import sophieDuchesne from "assets/people/sophie-duchesne.png";
import sovannaTik from "assets/people/sovanna-tik.png";
import tahaOuarda from "assets/people/taha-ouarda.png";
import timothyHoloway from "assets/people/timothy-holoway.png";
import ulfJeppsson from "assets/people/ulf-jeppsson.png";
import wolfgangRauch from "assets/people/wolfgang-rauch.png";
import xavierFloresAlsina from "assets/people/xavier-flores-alsina.png";
import yvesComeau from "assets/people/yves-comeau.png";
import zoranKapelan from "assets/people/zoran-kapelan.png";

const sciCommittee = [
  {
    name: "Peter Vanrolleghem",
    title: "Université Laval",
    avatar: {
      src: peter,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Elena Torfs",
    title: "Université Laval",
    avatar: {
      src: elena,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Sophie Duchesne",
    title: "INRS",
    avatar: {
      src: sophieDuchesne,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Yves Comeau",
    title: "Polytechnque Montréal",
    avatar: {
      src: yvesComeau,
      width: 800,
      height: 800,
    },
  },
  {
    name: "François Anctil",
    title: "Université Laval",
    avatar: {
      src: francoisAnctil,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Martin Pleau",
    title: "TetraTech",
    avatar: {
      src: martinPleau,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Fateh Chebana",
    title: "INRS",
    avatar: {
      src: fatemehChebana,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Taha Ouarda",
    title: "INRS",
    avatar: {
      src: tahaOuarda,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Dwight Houweling",
    title: "Dynamita",
    avatar: {
      src: dwightHouweling,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Leiv Rieger",
    title: "inCTRL",
    avatar: {
      src: lievRieger,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Sarah Dorner",
    title: "Polytechnique Montréal",
    avatar: {
      src: sarahDorner,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Alejandro Vargas",
    title: "National Autonomous University of Mexico",
    avatar: {
      src: alexandroVargas,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Bing-Jie Ni",
    title: "University of Technology Sydney",
    avatar: {
      src: bingJieNi,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Damien Batstone",
    title: "University of Queensland",
    avatar: {
      src: damienBatstone,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Eberhard Morgenroth",
    title: "eawag",
    avatar: {
      src: eberhardMorgenroth,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Eduardo Ayesa",
    title: "CEIT - University of Navarra",
    avatar: {
      src: eduardoAyesa,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Elham Ramin",
    title: "DTU",
    avatar: {
      src: elhamRamin,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Giacomo Bellandi",
    title: "AM-team",
    avatar: {
      src: giacomoBellandi,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Giorgio Manina",
    title: "University of Palermo",
    avatar: {
      src: giorgioManina,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Jean-Luc Bertrand Krajewski",
    title: "INSA Lyon",
    avatar: {
      src: jeanLucBertrandKrajewski,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Julien Laurent",
    title: "University of Strasbourg",
    avatar: {
      src: julienLaurent,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Kimberly Solon",
    title: "Ghent University",
    avatar: {
      src: kimberlySolon,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Lina Belia",
    title: "Primodal",
    avatar: {
      src: linaBelia,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Lluis Corominas",
    title: "ICRA",
    avatar: {
      src: lluisCorominas,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Marie-Noelle Pons",
    title: "CNRS, University of Lorraine",
    avatar: {
      src: marieNoellePons,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Peter Bach",
    title: "eawag",
    avatar: {
      src: peterBach,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Ulf Jeppsson",
    title: "Lund University",
    avatar: {
      src: ulfJeppsson,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Wolfgang Rauch",
    title: "University of Innsbruck",
    avatar: {
      src: wolfgangRauch,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Xavier Flores-Alsina",
    title: "DTU",
    avatar: {
      src: xavierFloresAlsina,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Charles Bott",
    title: "HRSD",
    avatar: {
      src: charlesBott,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Sina Borzoei",
    title: "Biomath",
    avatar: {
      src: sinaBorzoei,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Lorenzo Benedetti",
    title: "Waterways",
    avatar: {
      src: lorenzoBenedetti,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Andreia Amaral",
    title: "Université Laval",
    avatar: {
      src: andreiaAmaral,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Timothy Holoway",
    title: "Thames Water",
    avatar: {
      src: timothyHoloway,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Bruce Johnson",
    title: "Jacobs",
    avatar: {
      src: bruceJohnson,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Juan Baeza",
    title: "CEIT",
    avatar: {
      src: juanBaeza,
      width: 800,
      height: 800,
    },
  },
  {
    name: "LLoyd Townley",
    title: "Nanjing Smart Technology Development",
    avatar: {
      src: lloydTownley,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Sovanna Tik",
    title: "Université Laval",
    avatar: {
      src: sovannaTik,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Janelcy Alfares",
    title: "VITO",
    avatar: {
      src: janelcyAlfares,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Jiping Jiang",
    title: "Southern University of Science and Technology",
    avatar: {
      src: jipingJiang,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Zoran Kapelan",
    title: "TU Delft",
    avatar: {
      src: zoranKapelan,
      width: 800,
      height: 800,
    },
  },
  {
    name: "Dirk Muschalla",
    title: "UGraz",
    avatar: {
      src: dirkMuschalla,
      width: 800,
      height: 800,
    },
  },
];

const title = "Scientific Committee";
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{title}</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        The scientific committee for Watermatex2023 will be made up of teams of
        Experienced Water Professionals (EWP) and Young Water Professionals
        (YWP). EWPs and YWPs will review abstracts together. Throughout the
        review process, the EWPs will provide mentorship and guidance to their
        YWP peers. The abstract review process is scheduled to take place
        between mid-April and mid-May 2023.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        The members of the scientific committee are still being confirmed. Below
        are the currently confirmed members.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        <a
          href="https://forms.gle/MW7Ke2dgXop2SPCx7"
          target="_parent"
          class="text-gray-600 hover:text-gray-900 underline"
          >Apply now for a YWP spot on the scientific committee!</a
        >
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        sciCommittee
          .sort((a, b) =>
            a.name.split(" ")[1].toLowerCase() >
            b.name.split(" ")[1].toLowerCase()
              ? 1
              : -1
          )
          .map((item) => (
            <div class="group">
              <div class="w-full aspect-square">
                <Image
                  {...item.avatar}
                  format="avif"
                  alt="Team"
                  class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                />
              </div>

              <div class="mt-4 text-center">
                <h2 class="text-lg text-gray-800"> {item.name}</h2>
                <h3 class="text-sm text-slate-500"> {item.title}</h3>
              </div>
            </div>
          ))
      }
    </div>
  </Container>
</Layout>
