---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

import elena from "assets/people/elena-torfs.png";
import peter from "assets/people/peter-vanrolleghem.png";

import alexandroVargas from "assets/people/alejandro-vargas.png";
import almaSchellart from "assets/people/alma-schellart.png";
import andreiaAmaral from "assets/people/andreia-amaral.png";
import andrewShaw from "assets/people/andrew-shaw.png";
import arifurRahman from "assets/people/arifur-rahman.png";
import benedekPlosz from "assets/people/benedek-plosz.png";
import bingJieNi from "assets/people/bing-jie-ni.png";
import bruceJohnson from "assets/people/bruce-johnson.png";
import celineVaneeckhaute from "assets/people/celine-vaneeckhaute.png";
import charlesBott from "assets/people/charles-bott.png";
import chrisDeGroot from "assets/people/chris-de-groot.png";
import damienBatstone from "assets/people/damien-batstone.png";
import danielNolasco from "assets/people/daniel-nolasco.png";
import davidIkumi from "assets/people/david-ikumi.png";
import davidMatamorros from "assets/people/david-matamorros.png";
import dirkMuschalla from "assets/people/dirk-muschalla.png";
import draganSavic from "assets/people/dragan-savic.png";
import dwightHouweling from "assets/people/dwight-houweling.png";
import eberhardMorgenroth from "assets/people/eberhard-morgenroth.png";
import eduardoAyesa from "assets/people/eduardo-ayesa.png";
import elhamRamin from "assets/people/elham-ramin.png";
import evelineVolcke from "assets/people/eveline-volcke.png";
import fatehChebana from "assets/people/fateh-chebana.png";
import francoisAnctil from "assets/people/francois-anctil.png";
import giacomoBellandi from "assets/people/giacomo-bellandi.png";
import giorgioManina from "assets/people/giorgio-manina.png";
import ignasiRodriguezRoda from "assets/people/ignasi-rodriguez-roda.png";
import janAdamowski from "assets/people/jan-adamowski.png";
import janelcyAlfares from "assets/people/janelcy-alfares.png";
import jeanLucBertrandKrajewski from "assets/people/jean-lub-bertrand-krajewski.png";
import jeanPhilippeSteyer from "assets/people/jean-philippe-steyer.png";
import jesVollertsen from "assets/people/jes-vollertsen.png";
import jimWicks from "assets/people/jim-wicks.png";
import jipingJiang from "assets/people/jiping-jiang.png";
import joaoPauloLeitao from "assets/people/joao-paulo-leitao.png";
import joaquimComas from "assets/people/joaquim-comas.png";
import juanBaeza from "assets/people/juan-baeza.png";
import julienLaurent from "assets/people/julien-laurent.png";
import kateNewhart from "assets/people/kate-newhart.png";
import kimErvin from "assets/people/kim-ervin.png";
import kimberlySolon from "assets/people/kimberly-solon.png";
import lievRieger from "assets/people/liev-rieger.png";
import linaBelia from "assets/people/lina-belia.png";
import liuYe from "assets/people/liu-ye.png";
import lloydTownley from "assets/people/lloyd-townley.png";
import lluisCorominas from "assets/people/lluis-corominas.png";
import lorenzoBenedetti from "assets/people/lorenzo-benedetti.png";
import magnusArnell from "assets/people/magnus-arnell.png";
import manfredSchutze from "assets/people/manfred-schutze.png";

import marieNoellePons from "assets/people/marie-noelle-pons.png";
import martijnKuller from "assets/people/martijn-kuller.png";
import martinPleau from "assets/people/martin-pleau.png";
import paulLessard from "assets/people/paul-lessard.png";
import peterBach from "assets/people/peter-bach.png";
import sarahDorner from "assets/people/sarah-dorner.png";
import sinaBorzoei from "assets/people/sina-borzoei.png";
import sophieDuchesne from "assets/people/sophie-duchesne.png";
import sovannaTik from "assets/people/sovanna-tik.png";
import tahaOuarda from "assets/people/taha-ouarda.png";
import timothyHoloway from "assets/people/timothy-holoway.png";
import ulfJeppsson from "assets/people/ulf-jeppsson.png";
import vickyRuano from "assets/people/vicky-ruano.png";
import wolfgangRauch from "assets/people/wolfgang-rauch.png";
import xavierFloresAlsina from "assets/people/xavier-flores-alsina.png";
import yanchenLiu from "assets/people/yanchen-liu.png";
import yvesComeau from "assets/people/yves-comeau.png";
import zoranKapelan from "assets/people/zoran-kapelan.png";

const sciCommittee = [
  {
    name: "Manfred Schütze",
    title: "ifak",
    avatar: {
      src: manfredSchutze,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Paul Lessard",
    title: "Université Laval",
    avatar: {
      src: paulLessard,
      width: 400,
      height: 400,
    },
  },

  {
    name: "Peter Vanrolleghem",
    title: "Université Laval",
    avatar: {
      src: peter,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Elena Torfs",
    title: "Université Laval",
    avatar: {
      src: elena,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sophie Duchesne",
    title: "INRS",
    avatar: {
      src: sophieDuchesne,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Yves Comeau",
    title: "Polytechnque Montréal",
    avatar: {
      src: yvesComeau,
      width: 400,
      height: 400,
    },
  },
  {
    name: "François Anctil",
    title: "Université Laval",
    avatar: {
      src: francoisAnctil,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Martin Pleau",
    title: "TetraTech",
    avatar: {
      src: martinPleau,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Fateh Chebana",
    title: "INRS",
    avatar: {
      src: fatehChebana,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Taha Ouarda",
    title: "INRS",
    avatar: {
      src: tahaOuarda,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dwight Houweling",
    title: "Dynamita",
    avatar: {
      src: dwightHouweling,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Leiv Rieger",
    title: "inCTRL",
    avatar: {
      src: lievRieger,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sarah Dorner",
    title: "Polytechnique Montréal",
    avatar: {
      src: sarahDorner,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Alejandro Vargas",
    title: "National Autonomous University of Mexico",
    avatar: {
      src: alexandroVargas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Bing-Jie Ni",
    title: "University of Technology Sydney",
    avatar: {
      src: bingJieNi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Damien Batstone",
    title: "University of Queensland",
    avatar: {
      src: damienBatstone,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eberhard Morgenroth",
    title: "eawag",
    avatar: {
      src: eberhardMorgenroth,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eduardo Ayesa",
    title: "CEIT - University of Navarra",
    avatar: {
      src: eduardoAyesa,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Elham Ramin",
    title: "DTU",
    avatar: {
      src: elhamRamin,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Giacomo Bellandi",
    title: "AM-team",
    avatar: {
      src: giacomoBellandi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Giorgio Manina",
    title: "University of Palermo",
    avatar: {
      src: giorgioManina,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jean-Luc Bertrand Krajewski",
    title: "INSA Lyon",
    avatar: {
      src: jeanLucBertrandKrajewski,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Julien Laurent",
    title: "University of Strasbourg",
    avatar: {
      src: julienLaurent,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kimberly Solon",
    title: "Ghent University",
    avatar: {
      src: kimberlySolon,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lina Belia",
    title: "Primodal",
    avatar: {
      src: linaBelia,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lluis Corominas",
    title: "ICRA",
    avatar: {
      src: lluisCorominas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Marie-Noelle Pons",
    title: "CNRS, University of Lorraine",
    avatar: {
      src: marieNoellePons,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Peter Bach",
    title: "eawag",
    avatar: {
      src: peterBach,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Ulf Jeppsson",
    title: "Lund University",
    avatar: {
      src: ulfJeppsson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Wolfgang Rauch",
    title: "University of Innsbruck",
    avatar: {
      src: wolfgangRauch,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Xavier Flores-Alsina",
    title: "DTU",
    avatar: {
      src: xavierFloresAlsina,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Charles Bott",
    title: "HRSD",
    avatar: {
      src: charlesBott,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sina Borzoei",
    title: "Biomath",
    avatar: {
      src: sinaBorzoei,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lorenzo Benedetti",
    title: "Waterways",
    avatar: {
      src: lorenzoBenedetti,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Andreia Amaral",
    title: "Université Laval",
    avatar: {
      src: andreiaAmaral,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Timothy Holoway",
    title: "Thames Water",
    avatar: {
      src: timothyHoloway,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Bruce Johnson",
    title: "Jacobs",
    avatar: {
      src: bruceJohnson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Juan Baeza",
    title: "CEIT",
    avatar: {
      src: juanBaeza,
      width: 400,
      height: 400,
    },
  },
  {
    name: "LLoyd Townley",
    title: "Nanjing Smart Technology Development",
    avatar: {
      src: lloydTownley,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sovanna Tik",
    title: "Université Laval",
    avatar: {
      src: sovannaTik,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Janelcy Alfares",
    title: "VITO",
    avatar: {
      src: janelcyAlfares,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jiping Jiang",
    title: "Southern University of Science and Technology",
    avatar: {
      src: jipingJiang,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Zoran Kapelan",
    title: "TU Delft",
    avatar: {
      src: zoranKapelan,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dirk Muschalla",
    title: "UGraz",
    avatar: {
      src: dirkMuschalla,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Alma Schellart",
    title: "University of Glasgow",
    avatar: {
      src: almaSchellart,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Andrew Shaw",
    title: "Black and Veach",
    avatar: {
      src: andrewShaw,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Arifur Rahman",
    title: "Jacobs",
    avatar: {
      src: arifurRahman,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Benedek Plosz",
    title: "University of Bath",
    avatar: {
      src: benedekPlosz,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Céline Vaneeckhaute",
    title: "Université Laval",
    avatar: {
      src: celineVaneeckhaute,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Chris De Groot",
    title: "Western University",
    avatar: {
      src: chrisDeGroot,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Daniel Nolasco",
    title: "NOLASCO & Asoc.",
    avatar: {
      src: danielNolasco,
      width: 400,
      height: 400,
    },
  },
  {
    name: "David Ikumi",
    title: "University of Cape Town",
    avatar: {
      src: davidIkumi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "David Matamorros",
    title: "ESPOL",
    avatar: {
      src: davidMatamorros,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dragan Savic",
    title: "KWR",
    avatar: {
      src: draganSavic,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eveline Volcke",
    title: "Ghent University",
    avatar: {
      src: evelineVolcke,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Ignasi Rodriguez-Roda",
    title: "ICRA",
    avatar: {
      src: ignasiRodriguezRoda,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jan Adamowski",
    title: "McGill University",
    avatar: {
      src: janAdamowski,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jean-Philippe Steyer",
    title: "INRA Narbonne",
    avatar: {
      src: jeanPhilippeSteyer,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jes Vollertsen",
    title: "Aalborg University",
    avatar: {
      src: jesVollertsen,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jim Wicks",
    title: "Fluid Group",
    avatar: {
      src: jimWicks,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Joao Paulo Leitao",
    title: "EAWAG",
    avatar: {
      src: joaoPauloLeitao,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Joaquim Comas",
    title: "CEIT",
    avatar: {
      src: joaquimComas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kate Newhart",
    title: "Westpoint",
    avatar: {
      src: kateNewhart,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kim Ervin",
    title: "Jacobs",
    avatar: {
      src: kimErvin,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Liu Ye",
    title: "University of Queensland",
    avatar: {
      src: liuYe,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Magnus Arnell",
    title: "RISE, Lund University",
    avatar: {
      src: magnusArnell,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Martijn Kuller",
    title: "University Utrecht",
    avatar: {
      src: martijnKuller,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Vicky Ruano",
    title: "University of Valencia",
    avatar: {
      src: vickyRuano,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Yanchen Liu",
    title: "Tsingua University",
    avatar: {
      src: yanchenLiu,
      width: 400,
      height: 400,
    },
  },
];

const title = "Scientific Committee";
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{title}</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        The scientific committee for Watermatex2023 will be made up of teams of
        Experienced Water Professionals (EWP) and Young Water Professionals
        (YWP). EWPs and YWPs will review abstracts together. Throughout the
        review process, the EWPs will provide mentorship and guidance to their
        YWP peers. The abstract review process is scheduled to take place
        between mid-April and mid-May 2023.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        The members of the scientific committee are still being confirmed. Below
        are the currently confirmed members.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        <a
          href="https://forms.gle/MW7Ke2dgXop2SPCx7"
          target="_parent"
          class="text-gray-600 hover:text-gray-900 underline"
          >Apply now for a YWP spot on the scientific committee!</a
        >
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        sciCommittee
          .sort((a, b) =>
            a.name.split(" ")[1].toLowerCase() >
            b.name.split(" ")[1].toLowerCase()
              ? 1
              : -1
          )
          .map((item) => (
            <div class="group">
              <div class="w-full aspect-square">
                <Image
                  {...item.avatar}
                  format="avif"
                  alt="Team"
                  class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                />
              </div>

              <div class="mt-4 text-center">
                <h2 class="text-lg text-gray-400"> {item.name}</h2>
                <h3 class="text-sm text-slate-500"> {item.title}</h3>
              </div>
            </div>
          ))
      }
    </div>
  </Container>
</Layout>
