---
import Container from "@components/container.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";

const regLink = "https://event.fourwaves.com/95f0a42d-264a-4e94-a2e9-f1e631c51a77/registration"

const pricing = [
  {
    name: "High-income country - Early Registration",
    price: {
      nonIWA: "$1090 [$273]",
      IWA: "$950 [$238]",
      Student: "$580 [$145]",
      accompanier: "$290",
    }
  },
  {
    name: "Low-income country - Early Registration",
    price: {
      nonIWA: "$870 [$218]",
      IWA: "$600 [$150]",
      Student: "$440 [$110]",
      accompanier: "$290",
    }
  },
  {
    name: "High-income country - Late Registration",
    price: {
      nonIWA: "$1160 [$290]",
      IWA: "$1020 [$255]",
      Student: "$650 [$163]",
      accompanier: "$290",
    }
  },
  {
    name: "Low-income country - Late Registration",
    price: {
      nonIWA: "$940 [$235]",
      IWA: "$730 [$183]",
      Student: "$510 [$128]",
      accompanier: "$290",
    }
  },
];
---

<Layout title="Registration">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Registration</Fragment>
      <Fragment slot="desc">Registration opens on June 1st - be ready!</Fragment
      >
    </Sectionhead>
    <div class="mx-12 md:mx-36 mt-2 text-slate-400">* All fees in CAD</div>
    <div class="mx-12 md:mx-36 mt-2 text-slate-400">
      [ ] indicates single-day fee.
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-12 md:mx-36 max-w-screen-lg mt-4">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    <div class="flex mt-8 gap-10 mx-12 md:mx-36 max-w-screen-lg mt-4">
      <Link href={regLink} style="primary"> Register </Link>
    </div>
    <div class="mt-16 md:mt-5 mx-12 md:mx-36 py-8">
      <h2 class="font-bold text-3xl text-gray-800">Cancellation Policy</h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        Cancellations must be sent by e-mail to <a
          class="underline text-blue-500"
          href="mailto:registration@watermatex2023.org"
          >registration@watermatex2023.org</a
        >. All cancellations require confirmation by the organizers.
        Cancellations up until August 23, 2023 are eligible for a refund, minus
        an administration fee of CAD$100. Cancellations received after the
        deadline are not eligible for a refund. Substitutions will be accepted,
        but the organizers <strong>must</strong> be advised by e-mail of the new
        participant's name and contact details.
      </p>
    </div>
  </Container>
</Layout>
