---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import fanlinMeng from "assets/people/fanlin-meng.jpeg";
import hannaMolin from "assets/people/hanna-molin.jpeg";
import heliehAbasi from "assets/people/helieh-abasi.jpeg";
import kesterMccullough from "assets/people/kester-mccullough.jpeg";
import sabaDaneshgar from "assets/people/saba-daneshgar.png";

const committee = [
  {
    name: "Saba Daneshgar",
    title: "BIOMATH - University of Ghent",
    link: "https://www.linkedin.com/in/sabadaneshgar/",
    avatar: {
      src: sabaDaneshgar,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Hanna Molin",
    title: "IVL",
    link: "https://www.linkedin.com/in/hanna-molin-9390001b5/",
    avatar: {
      src: hannaMolin,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Fanlin Meng",
    title: "Tsinghua University",
    link: "https://www.linkedin.com/in/fanlin-meng-42a90249/",
    avatar: {
      src: fanlinMeng,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kester McCullough",
    title: "HRSD",
    link: "https://www.linkedin.com/in/kester-mccullough-p-e-58394452/",
    avatar: {
      src: kesterMccullough,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Helieh Abasi",
    title: "INRS",
    link: "https://www.linkedin.com/in/helieh-abasi-120217194/",
    avatar: {
      src: heliehAbasi,
      width: 400,
      height: 400,
    },
  },
];
---

<Layout title="YWP">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Young Water Professionals (YWPs)</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="mx-12 md:mx-36 py-8">
      <p class="text-lg mt-4 text-slate-600 py-2">
        Watermatex2023 aims at stimulating active participation and involvement
        of all young water professionals (YWPs) within the water domain by
        organizing a dedicated workshop, mentoring sessions and fun activities
        for them including:
      </p>
      <ul class="list-disc text-lg mt-4 mx-12 md:mx-4 text-slate-600 py-2">
        <li>
          A <strong>scientific committee</strong> comprising teams of YWPs and experienced
          water professionals (EWPs) for the abstract review process.
        </li>
        <li>
          A <strong>dedicated full-day workshop</strong> (program will be announced
          soon) for YWPs that provides opportunities for networking, interactions,
          discussions and learning. The workshop will be followed by a social networking
          event for YWPs.
        </li>
        <li>
          <strong>Co-chairing</strong> of conference technical sessions under the
          guidance of EWPs.
        </li>
        <li>
          Dedicated <strong>mentoring sessions</strong> with EWPs during the coffee
          breaks.
        </li>
        <li>
          A <strong>“problems and ideas”</strong> session organized by YWPs.
        </li>
      </ul>
      <p class="text-lg mt-4 text-slate-600 py-2">
        <a
          class="underline text-blue-500"
          target="_blank"
          href="/YWP_workshop_preliminary_program.pdf"
          target="_blank">Click here</a
        > to download the preliminary workshop program.
      </p>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6">
        Meet the YWP Steering Committee

        <div class="mx-auto max-w-4xl mt-12">
          <div class="grid md:grid-cols-3 gap-10">
            {
              committee
                .sort((a, b) =>
                  a.name.split(" ").at(-1).toLowerCase() >
                  b.name.split(" ").at(-1).toLowerCase()
                    ? 1
                    : -1
                )
                .map((item) => (
                  <div class="group">
                    <a
                      class="text-lg text-blue-400"
                      target="_blank"
                      href={item.link}>
                      <div class="w-full aspect-square">
                        <Image
                          {...item.avatar}
                          format="png"
                          alt="Team"
                          class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                        />
                      </div>
                    </a>
                    <div class="mt-4 text-center">
                      <h2 class="text-lg text-gray-400"> {item.name}</h2>
                      <h3 class="text-sm text-slate-500"> {item.title}</h3>
                    </div>
                  </div>
                ))
            }
          </div>
        </div>
      </h2>
    </div>
  </Container>
</Layout>
