---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Scientific Program">
  <Container>
    <Sectionhead>
        <Fragment slot="title">Scientific Program</Fragment>
        <Fragment slot="desc">Time to put your thinking cap on.</Fragment>
      </Sectionhead>
    <div class="mt-16 md:mt-5 mx-12 md:mx-36 py-8">
      <p class="text-lg mt-4 text-slate-600 py-2">
        This edition of Watermatex will be structured around themed parallel oral presentation sessions, half-day workshops, and a keynote presentation from a distinguished guest. Poster presentations will also take place in a designated time slot, alongside a social gathering.
      </p>

      <p class="text-lg mt-4 text-slate-600 py-2">
        Stay tuned for the full scientific program and schedule.
      </p>
    </div>
  </Container>
</Layout>