---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Scientific Program">
  <Container>
    <Sectionhead>
        <Fragment slot="title">Scientific Program</Fragment>
        <Fragment slot="desc">Time to put our thinking caps on</Fragment>
      </Sectionhead>
    <div class="mt-16 md:mt-5 mx-12 md:mx-36 py-8">
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference program will consist of 3 parallel sessions and interactive keynote sessions (2 experts, 2 visions). Posters will get the attention they deserve through a dedicated poster cocktail and poster breakfast.
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        Another key aspects will be a call for issues to provide a platform to discuss problems and ongoing work. Several workshops scheduled are for Sunday in an effort to lay the groundwork for consensus building on topics selected by the scientific committee from submitted proposals. These workshops will be preceded by a YWP workshop (on Saturday) organized and attended by YWP (Young Water Professionals).
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        <a
          class="underline text-blue-500"
          href="/preliminary-program.pdf"
          >Click here to download the preliminary conference program.</a
        >
         and stay tuned for the official scientific program and schedule later this summer.
      </p>
    </div>
  </Container>
</Layout>