---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Scientific Program">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Scientific Program</Fragment>
      <Fragment slot="desc">Time to put our thinking caps on</Fragment>
    </Sectionhead>

    <div class="mt-16 md:mt-5 mx-12 md:mx-36 py-8">
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference program will consist of 3 parallel sessions and
        interactive keynote sessions (2 experts, 2 visions). Posters will get
        the attention they deserve through a dedicated poster cocktail and
        poster breakfast.
      </p>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Keynotes
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The opening keynote will be delivered by Mr. Bruce Beck. Bruce was a
        visionary leader and the driving force behind the establishment of the
        IWA MIA Specialist Group on Modelling and Integrated Assessment back in
        the 80s. Serving as chairman well into the 2000s, Bruce's unwavering
        passion and expertise have nurtured the group into one of the largest
        and most influential Specialist Groups within the IWA, covering all
        water systems.
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        Elmira Hassanzadeh, Associate Professor at Polytechnique Montréal will
        be discussing the paramount importance of "Community Engagement for
        Water Management Under Uncertainty." Elmira's research delves into
        integrated modelling of water resource systems, understanding system
        behaviour under changing conditions, and developing decision support
        tools based on stakeholders' perspectives for effective water
        management.
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        Peter Marcus Bach is a Senior Research Scientist at the Eastern
        Switzerland University of Applied Sciences (OST). He brings a fresh
        perspective on "Modelling "Palettes" - A New Dawn of Integrated
        Assessment to Support Water Management's Role Towards Climate-Adaptive
        Cities." Peter's expertise lies in integrated modelling and blue-green
        infrastructures, and his research focuses on developing quantitative
        approaches to aid urban planning and adaptation to climate change. He is
        particularly passionate about promoting urban nature-based solutions to
        tackle environmental challenges.
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The closing keynote speaker will be announced later this summer - stay
        tuned!
      </p>

      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Call for Issues
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        Another key aspects will be a call for issues to provide a platform to
        discuss problems and ongoing work. Several workshops scheduled are for
        Sunday in an effort to lay the groundwork for consensus building on
        topics selected by the scientific committee from submitted proposals.
        These workshops will be preceded by a YWP workshop (on Saturday)
        organized and attended by YWPs (Young Water Professionals).
      </p>
      <p class="text-lg mt-4 text-slate-600 py-2">
        <a class="underline text-blue-500" href="/preliminary-program.pdf"
          >Click here to download the preliminary conference program.</a
        >
        and stay tuned for the official scientific program and schedule later this
        summer.
      </p>
    </div>
  </Container>
</Layout>
