---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import dinnerPath from "/public/data/social-program/dinner.jpg"; 
import drinksPath from "/public/data/social-program/drinks.jpg"; 
import museumPath from "/public/data/social-program/MNBAQ.jpg"; 
import postersPath from "/public/data/social-program/posterSession.jpg"; 
import "styles/generalStyle.css";

// Photo by <a href="https://unsplash.com/@antenna?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Antenna</a> on <a href="https://unsplash.com/photos/ZDN-G1xBWHY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
// Photo by <a href="https://unsplash.com/@filmmakerandrea6?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andrea Joshua Sibabalo Qoqonga</a> on <a href="https://unsplash.com/photos/dxyyr_UzH6Q?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

const pathSocialQuebec = "/info/SocialActivities" 

const dinner = {
  src: dinnerPath,
  alt: "Dinner",
  width: "633",
  height: "480",
  format: "jpg",
};

const drinks = {
  src: drinksPath,
  alt: "Coctail",
  width: "527",
  height: "351",
  format: "jpg",
};

const museum = {
  src: museumPath,
  alt: "MNBAQ",
  width: "596",
  height: "322",
  format: "jpg",
};

const posters = {
  src: postersPath,
  alt: "Poster Session",
  width: "600",
  height: "397",
  format: "jpg",
};
---

<Layout title="Social Program">
  <Container>
    <Sectionhead>
        <Fragment slot="title">Social Program</Fragment>
        <Fragment slot="desc">In addition to engaging in stimulating discussions and enriching sessions, you'll also be a part of an exciting social program! 
        </Fragment>
      </Sectionhead>

    <div class="mt-8 md:mt-5 mx-12 md:mx-36 py-8">
      <p class="text-lg mt-4 text-slate-600 py-2">
        We firmly believe that the connections you make and the memories you create during the 
        social events will add an extra layer of fulfilment to your conference experience. 
        Don't miss out on this chance to bond with like-minded individuals and create lasting 
        connections. Take a look at what we have in store for you:
      </p>
      
      <div class="grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div class="order-1 justify-self-start grid grid-auto-rows-min-content align-middle col-span-2">
          <Image {...museum}  />
        </div>
        <div class="order-2 col-span-1">
          <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">Welcome Reception.</h2>
          <p class="lead">Sunday 24 September - From 5 to 9 pm</p>
          <p class="py-4">Let's kickstart the conference with a warm and welcoming reception at the Musée national 
            des beaux-arts du québec. This event is designed to provide the perfect platform for networking and making new 
            connections. Relax and enjoy delightful refreshments 
            as you gear up for an incredible conference journey. On top of this, The key one of our esteemed keynote speakers, 
            <a class="underline text-blue-500"
              href="../../blog/6-bruce/">
              Mr. Bruce Beck
            </a>
            will deliver an inspirational speech leaving you ready for action</p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle col-span-2">
          <Image {...drinks}  />
        </div>
        <div class="order-1 col-span-1">
          <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">Poster cocktail.</h2>
          <p class="lead">Monday 25 September - Evening</p>
          <p class="py-4">
            To ensure that our excellent scientific poster submissions receive the attention they deserve,
       this dedicated poster session will stimulate networking and discussion around the 
       poster topics. Engage with diverse poster presentations while enjoying cocktails, fostering connections, 
       and igniting innovative discussions. Cheers to an evening of discovery and networking!
          </p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div class="order-1 justify-self-start grid grid-auto-rows-min-content align-middle col-span-2">
          <Image {...dinner}  />
        </div>
        <div class="order-2 col-span-1">
          <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">Conference Dinner.</h2>
          <p class="lead">Tuesday 26 September - Evening</p>
          <p class="py-4">
            Save the date for our conference dinner. It promises to be an enchanting affair filled with 
            delectable cuisine, captivating entertainment, and an ambiance that encourages camaraderie and 
            collaboration. Stay tuned for more details in the upcoming weeks - you won't want to miss this!
          </p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle col-span-2">
          <Image {...posters}  />
        </div>
        <div class="order-1 col-span-1">
          <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">Breakfast poster session.</h2>
          <p class="lead">Wednesday 27 September - Morning</p>
          <p class="py-4">
            Start your Wednesday with inspiration! Join this poster session exploring captivating poster presentations. 
            Fuel your mind and connect with fellow attendees over insightful discussions.
             Get ready for a day of enriching experiences!
          </p>
        </div>
      </div>

      <p class= "lg:tracking-tight text-lg text-left lead mt-6 py-4">
        While you're in town, take some time to explore the vibrant city and its many attractions. 
        To a brief review of what Quebec City and its surroundings have to offer go here:
        <a href={pathSocialQuebec} class="underline text-blue-500"> Discovering Quebec </a>
      </p>

      <p class= "text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-4">
        We look forward to welcoming you to our conference and sharing these incredible social moments together!
      </p>
    </div>
  </Container>
</Layout>