---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Map from "@components/map.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import mapPath from "assets/connections-map.png";

const map = {
  src: mapPath,
  alt: "Map of airports with direct connections to Québec City (YQB)",
  width: "1000",
  height: "900",
  format: "png",
  loading: "lazy",
};
---

<Layout title="Venue">
  <Container>
    <Sectionhead>
      <Fragment slot="title">The Venue</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
  </Container>
  <Container>
    <div class="mx-12 md:mx-36 py-8">
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6">
        Getting there
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The airport <a
          class="underline text-blue-500"
          target="_blank"
          href="https://www.aeroportdequebec.com/en">
          Jean-Lesage International Airport (YQB)
        </a> is the airport of Québec City and the closest airport to the conference
        venue. Multiple flights arrive at Quebec International Airport (YQB) daily.
        You will be able to book a connection from Montreal, Toronto, Chicago, New
        York (Newark and JFK) or Philadelphia.
      </p>
      <div
        class="w-screen max-w-xl flex items-center pt-16 pb-8 z-0 mx-auto justify-center"
        style="grid-template-columns: 1fr 1fr;">
        <Image {...map} />
        <Map />
      </div>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference venue is located approximately 10km (20 min by car) East
        of the airport, on the Université Laval campus. Bus route 76 connects
        the airport to Sainte-Foy, the neighborhood of the venue, in less than
        30 minutes. From there, express bus routes 800 and 801 can take you to
        the city center. Taxis and Uber are also available from the airport -
        their stands are clearly indicated upon arrival. Further information is
        available
        <a
          class="underline text-blue-500"
          target="_blank"
          href="https://www.aeroportdequebec.com/en/airport-access/taxis-and-limousine"
          >here.
        </a>
      </p>
    </div>
  </Container>
</Layout>
