---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Map from "@components/map.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import mapPath from "assets/venue/connections-map.png";
import SliderPhotos from "@components/sliderPhotos.astro";
import photoMaps from "@assets/sliderData.json";
import MuseeQuebec from "assets/venue/musee3.jpg";

const map = {
  src: mapPath,
  alt: "Map of airports with direct connections to Québec City (YQB)",
  width: "1000",
  height: "900",
  format: "png",
  loading: "lazy",
};
---

<Layout title="Venue">
  <Container>
    <Sectionhead>
      <Fragment slot="title">The Venue</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
  </Container>
  <Container>
    <div class="mx-12 md:mx-36 py-8">
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6">
        Main Venue
      </h2>
      <div
        class="w-screen max-w-xl flex items-center pt-16 pb-8 z-0 mx-auto justify-center"
        style="grid-template-columns: 1fr 1fr;">
        <p class="text-lg mt-4 text-slate-600 py-2">
        The conference will be held at Pavillon Alphonse-Desjardins (2325, rue de l'Université, 
        Local 2447 Université Laval, Québec (Québec)  G1V 0A6.
        </p>
        <Map />
      </div>
      <div class="justify-center">
        <SliderPhotos photos={photoMaps} />
      </div>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference venue is located approximately 10km (20 min by car) East
        of the airport, on the Université Laval campus. Bus route 76 connects
        the airport to Sainte-Foy, the neighborhood of the venue, in less than
        30 minutes. From there, express bus routes 800 and 801 can take you to
        the city center. Taxis and Uber are also available from the airport -
        their stands are clearly indicated upon arrival. Further information is
        available
        <a
          class="underline text-blue-500"
          target="_blank"
          href="https://www.aeroportdequebec.com/en/airport-access/taxis-and-limousine"
          >here.
        </a>
      </p>
      <Image {...map} />
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6">
        Welcome reception 
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The welcome reception will be held at the Musée national des beaux-arts 
        du Québec, situated at the city center, just an 11-minute car ride from Université Laval campus. 
        Alternatively, you can easily access the venue via public transportation – 
        bus route 11 stops right in front of both the Université and the Musée, while 
        express bus routes 800 and 801 will leave you just a short walk away from the event. 
      </p>
      <div
        class="w-screen max-w-xl flex items-center pt-16 pb-8 z-0 mx-auto justify-center"
        style="grid-template-columns: 1fr 1fr;">
        <Image {...MuseeQuebec}  />
        <iframe
          width="600"
          height="400"
          style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src={`https://www.google.com/maps/embed/v1/place?key=${process.env["GOOGLE_MAPS_API_KEY"]}&q=Musée+national+des+beaux-arts+du+Québec`}
          allowfullscreen>
        </iframe>
      </div>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6">
        Getting to Quebec City
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The airport <a
          class="underline text-blue-500"
          target="_blank"
          href="https://www.aeroportdequebec.com/en">
          Jean-Lesage International Airport (YQB)
        </a> is the airport of Québec City and the closest airport to the conference
        venue. Multiple flights arrive at Quebec International Airport (YQB) daily.
        You will be able to book a connection from Montreal, Toronto, Chicago, New
        York (Newark and JFK) or Philadelphia.
      </p>
    </div>
  </Container>
</Layout>
