---
import Container from "@components/container.astro";
import Pricing from "@components/sponsorshipPricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/ui/link.astro";

const pricing = [
  {
    name: "Platinum Sponsor",
    price: "CAD 5,000",

    popular: true,
    features: [
      "2 free registrations",
      "Standard exhibition space to present your company and products.",
      "Your logo present on the conference bag and in the proceedings",
      "1 piece of information on your company added to the conference bag",
      "Lunch sponsorship mentioned ",
      "Plenary room display",
      "Logo on the running Powerpoint during coffee breaks and lunches",
      "Your logo on a prime location on the Watermatex website with a link to your company",
      "A mention of your organization’s sponsorship in our social medias ",
    ],
    button: {
      text: "Become a platinum sponsor now",
      link: "mailto:info@watermatex2023.org",
    },
  },
  {
    name: "Gold Sponsor",
    price: "CAD 3,500",

    popular: true,
    features: [
      "1 free registration",
      "Your logo present on the conference bag and in the proceedings",
      "1 piece of information on your company added to the conference bag",
      "Coffee break sponsorship mentioned ",
      "Plenary room display",
      "Copy of the proceedings and a list of participants",
      "Your logo on the Watermatex website with a link to your company",
      "A mention of your organization’s sponsorship in our social medias",
    ],
    button: {
      text: "Become a gold sponsor now",
      link: "mailto:info@watermatex2023.org",
    },
  },
  {
    name: "Silver Sponsor",
    price: "CAD 2,000",

    popular: true,
    features: [
      "1 free registration",
      "Copy of the proceedings and a list of participants",
      "Your logo on the Watermatex website with a link to your company",
      "A mention of your organization’s sponsorship in our social medias",
    ],
    button: {
      text: "Become a silver sponsor now",
      link: "mailto:info@watermatex2023.org",
    },
  },
];


---

<Layout title="Becoming a sponsor">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sponsorships</Fragment>
      <Fragment slot="desc">Make your organization shine by supporting our conference.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    
  </Container>

</Layout>
