---
import { Image } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import heroImage from "assets/chutes-montmorency.jpg";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
  <div class="py-6 md:order-1 hidden md:block">
    <Image class="rounded-md"
      src={heroImage}
      alt="Chutes Montmorency near Québec City"
      loading="eager"
      format="avif"
    />
  </div>
  <div>

    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
      Watermatex 2023
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      The 11th IWA Symposium on Modelling and Integrated Assessment.<br />Québec City, 23 - 27 september, 2023. <br />Stay tuned for updates!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/conference/themes"
        rel="noopener">Learn more</Link
      >
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about/contact"
        target="_blank">Contact us</Link
      >
      <!--Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        target="_blank">Attending the Conference</Link
      -->
    </div>
  </div>
</main>
