---
// @ts-ignore
import { Icon } from "astro-icon";
import Card from "./card.astro";

const themes = [
  {
    title: "Methodologies",
    subthemes: [
      "Process modelling (Biochemical and separation processes",
      "Plant-wide and integrated assessment",
      "Holistic evaluation (LCA, Circular economy and Socio-economic aspects)",
      "Decision support systems",
      "Uncertainty, sensitivity and risk analysis",
      "(Hierarchical) control strategies",
      "Advanced modelling frameworks (CFD, PBM, etc.)",
      "Hybrid modelling",
      "Data quality pipelines",
      "Soft sensors"
    ],
    icon: "entypo:lab-flask",
  },
  {
    title: "Application Domains",
    subthemes: [
      "Water treatment (wastewater, drinking water, process water)",
      "Water reuse",
      "Resource recovery",
      "Decentralized water treatment",
      "Drinking water and sewer networks",
      "Receiving water systems",
      "Water and energy nexus",
      "Smart cities",
    ],
    icon: "ic:baseline-water-drop",
  },

];
---


<div class="mx-12 md:mx-36 justify-center">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 mt-8 gap-16 justify-center">
    {
      themes.map((item) => (
        <div class="flex gap-4 items-start">
          <div>
            <div class="flex gap-4">
              <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div><h2 class="font-semibold text-3xl">{item.title}</h2></div>
            </div>
            <div class="text-slate-500 mt-2 leading-relaxed">
              <ul>
                {item.subthemes.map((subtheme) => (
                  <Card>
                    <p class="text-md font-semibold">
                      {subtheme}
                    </p>

                    </Card>
                  )
                )}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>