---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Submission guidelines">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Submission guidelines</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
  </Container>
  <Container>
    <div class="mt-16 md:mt-5">
      <div class="mx-12 md:mx-36 py-8">
        <p class="text-lg mt-4 text-slate-600 py-2">
          Groups interested in presenting their ideas at the seminar should
          submit an extended abstract for a platform presentation or a workshop.
          Abstracts should not exceed 2 pages of text + 2 pages of figures.
          Templates for abstract submission can be found
          <a
            href="/info/templates"
            class="underline text-blue-500"
            target="_blank">here.</a
          >
        </p>
        <p class="text-lg mt-4 text-slate-600 py-2">
          The deadline for submissions to the conference is <strong
            >April 10, 2023.</strong
          >
        </p>
        <p class="text-lg mt-4 text-slate-600 py-2">
          <a
            class="text-xl underline"
            href="https://www5.shocklogic.com/scripts/jmevent/profile-login.php?Client_Id=%27IWA1%27&Project_Id=%27WMATEX23%27&System_Id=1">
            Click here to access the registration system.</a
          >
        </p>
      </div>
    </div>
  </Container>
</Layout>
